*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(red, blue);
}
h1 {
    display: flex;
    font-size: 100px;
    color: red;
    background-image: linear-gradient(rgb(3, 208, 236), rgb(248, 6, 248),rgb(7, 241, 113));
}