*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(red, blue);
}
h1 {
    display: flex;
    font-size: 100px;
    color: red;
    padding: 20px;
    background-image: linear-gradient(rgb(10, 247, 227),rgb(22, 245, 6));
    border: 6px solid;
    border-top-color: red;
    border-left-color: green;
    border-right-color: blue;
    border-bottom-color: aqua;
    border-radius: 20px;
}